@mixin clearfix() {
    &::after {
        clear: both;
        display: table-cell;
        content: ' ';
    }
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    @include clearfix;

    width: 100%;
    max-width: 960px;

    margin: 0 auto;
}

#screen-init,
#screen-finding {
    text-align: center;
    margin: 35px auto;
    padding: 35px 0;
    background: #ECEFF1;
        
    h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    form {
        input[type=text] {
            display: block;
            width: 250px;
            height: 30px;
            margin: 15px auto;
            padding: 6px 10px;
            border: 1px solid #c4c4c4;
            border-radius: 15px;
            outline: none;

            text-align: center;
            font-size: 18px;
            line-height: 1;

            &:focus {
                border: 1px solid #3F51B5;
                box-shadow: inset 0 0 5px 0 #7986CB;
            }
        }

        input[type=submit] {
            display: block;
            width: 150px;
            height: 50px;
            margin: 15px auto;
            padding: 6px 10px;
            border: 1px solid #FF5722;
            border-radius: 15px;
            background: #FF7043;

            font-size: 20px;
            color: white;

            &:hover {
                box-shadow: 0 0 5px 0 #FF8A65;
            }
        }
    }
}

.score-area {
    display: block;
    width: 100%;

    @media only screen and (min-width: 640px) {
        width: 250px;
        float: left;
    }

    .profile-box {
        @include clearfix;

        height: 60px;
        padding: 6px;

        background: #2196F3;
        color: white;

        img {
            width: 48px;
            height: 48px;

            display: block;
            float: left;
            
            margin-right: 10px;
        }

        .desc {
            display: block;
            overflow: hidden;

            
            .name {
                max-width: 100%;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                font-size: 20px;
            }

            .level {
                font-size: 14px;
            }
        }
    }

    #scores {
        list-style: none;
        margin: 0;
        padding: 5px 0;

        li {
            @include clearfix;
            
            padding: 5px 10px;

            height: 40px;
            line-height: 30px;

            img {
                display: block;

                float: left;
                margin-right: 5px;
                width: 30px;
                height: 30px;
            }

            .score {
                float: right;
                width: 40px;

                font-weight: bold;
                text-align: right;
            }

            .name {
                overflow: hidden;
            }

            &:first-child {
                background: #FFC107;

                .name {
                    font-weight: bold;
                }
            }

            &:nth-child(2) {
                background: #FFD54F;
            }

            &:nth-child(3) {
                background: #FFE082;
            }
        }
    }
}

.game-area {
    display: block;
    width: 100%;

    @media only screen and (min-width: 640px) {
        width: auto;
        overflow: hidden;
    }
}